{% extends 'base.html' %}
{% block title %}
    Password Change Done - {{ block.super }}
{% endblock title %}

{% block analytics %}
analytics.page("Password Change Done");
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 m-y-md" >
            <ul class="breadcrumb p-l-0">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="active">Password Change Completed</li>
            </ul>
            <h1>Password Change Completed</h1>
            <p>Your password was changed.</p>
        </div>
    </div>
    <hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>
</div>

{% endblock content %}
