{% extends 'base.html' %}
{% block title %}
    Confirm Password Reset - {{ block.super }}
{% endblock title %}

{% block analytics %}
analytics.page("Password Reset Confirm");
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 m-y-md" >
            {% if validlink %}
                <h1>Confirm Password Reset</h1>
                <p>Please enter your new password twice so we can verify you typed it
                    in correctly.</p>
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </form>
            {% else %}
                <h1>Password reset unsuccessful</h1>
                <p>The password reset link was invalid, possibly because it has already
                    been used. <a href="{% url 'password_reset' %}">Please request a new password reset.</a></p>
            {% endif %}
        </div>
    </div>
    <hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>
</div>
{% endblock content %}
