{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Dashboard");
{% endblock %}

{% block bodyclass %}
<body id="membership-page">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center"><span class="highlight">Dashboard</span></h1>

    <div class="row">
        <!-- Main column -->
        <div class="col-md-9">
            <h2>Your products:</h2>
            <section id="memberships">
                {% for membership in memberships %}
                <div class="box {{ membership.product.name|slugify }}">
                    <div class="content">
                        <h2>
                            <a href="{% url 'product_page' product_id=membership.product.name|slugify %}">
                                {{ membership.product.name }}
                            </a>
                        </h2>
                        <p class="boughton">Bought on {{ membership.created|date:"M. d, Y" }}.</p>
                        <div class="super-vertical-margin">
                            <p class="no-bottom-margin">Download eBook files:</p>
                            <!-- XXX: Link to eBook files -->
                            <ul>
                                <li><a href="" title="Download {{ membership.product.name }} PDF">PDF</a></li>
                                <li><a href="" title="Download {{ membership.product.name }} ePub">ePub</a></li>
                                <li><a href="" title="Download {{ membership.product.name }} Kindle/.mobi">Kindle/.mobi</a></li>
                            </ul>
                        </div>
                        {% if membership.video %}
                        <a href="" class="btn btn-primary btn-sm">Play videos</a>
                        {% endif %}
                        <a href="" class="btn btn-secondary btn-sm">Visit Slack channel</a>
                    </div>
                </div>
                {% endfor %}
            </section>

            {% if not has_hwd or not has_hwa %}
            <hr />
            <h4>Want to buy more?</h4>
            <section id="upsells">
                {% if not has_hwd %}
                <div class="box hello-web-design">
                    <div class="content">
                        <h5>Hello Web Design</h5>
                        <p>Learn web design fundamentals and shortcuts. Everything you need to learn just enough design for your projects.</p>
                        <p>Use the coupon code <b>CUSTOMER</b> for 20% off.</p>
                        <a href="{% url 'learn-design' %}" class="btn btn-secondary btn-sm">See product page</a>
                    </div>
                </div>
                {% endif %}
                {% if not has_hwa %}
                <div class="box hello-web-app">
                    <div class="content">
                        <h5>Hello Web App</h5>
                        <p>Create a unique web app using Python 3 and Django 2.0 and launch on Heroku. Two book set.</p>
                        <p>Use the coupon code <b>CUSTOMER</b> for 20% off.</p>
                        <a href="{% url 'learn-django' %}" class="btn btn-secondary btn-sm">See product page</a>
                    </div>
                </div>
                {% endif %}
            </section>
            {% else %}
            <p class="text-center super-vertical-margin">You have every book I offer! Thank you. 💕</p>
            {% endif %}
        </div>

        <!-- Sidebar -->
        <div class="col-md-3 sidebar">
            <h4>Administration</h4>
            <ul class="list-unstyled">
                <li><a href="{% url 'charge_update' %}">Update or cancel payment details</a></li>
                <li><a href="{% url 'password_change' %}">Update password</a></li>
                <li><a href="{% url 'edit_email' %}">Update email</a></li>
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
