{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Dashboard");
{% endblock %}

{% block bodyclass %}
<body id="membership-page">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center"><span class="highlight">Dashboard</span></h1>

    <div class="row">
        <!-- Main column -->
        <div class="col-md-9">
            <h2>Your products:</h2>
            <section id="memberships">
                <!-- XXX: This needs to be updated so if only one book, it doesn't go gigantic -->
                {% for membership in memberships %}
                <div class="box {{ membership.product.name|slugify }}">
                    <div class="content">
                        <h2>
                            <a href="{% url 'course' product_slug=membership.product.get_slug %}">
                                {{ membership.product.name }}
                            </a>
                        </h2>
                        <p class="boughton">Bought on {{ membership.created|date:"M. d, Y" }}</p>
                        <div style="margin-top: 1em; margin-bottom: 2em;">
                            <p class="m-b-0"><b>Download eBook files:</b></p>
                            <!-- FIXME: This isn't the best solution but it's good enough for now -->
                            <!-- FIXME: If fixed, fix in course.html too -->
                            <ul>
                                {% if membership.product.name == "Hello Web App" %}
                                <li>Hello Web App: <a href="{{ hwa_pdf }}" title="Download {{ membership.product.name }} PDF">PDF</a>, <a href="{{ hwa_epub }}" title="Download {{ membership.product.name }} ePub">ePub</a>, <a href="{{ hwa_mobi }}" title="Download {{ membership.product.name }} Kindle/.mobi">Kindle/.mobi</a></li>
                                <li>Intermediate Concepts: <a href="{{ hwaic_pdf }}" title="Download {{ membership.product.name }} Intermediate Concepts PDF">PDF</a>, <a href="{{ hwaic_epub }}" title="Download {{ membership.product.name }} Intermediate Concepts ePub">ePub</a>, <a href="{{ hwaic_mobi }}" title="Download {{ membership.product.name }} Intermediate Concepts Kindle/.mobi">.mobi/Kindle</a></li>
                                {% elif membership.product.name == "Hello Web Design" %}
                                <li><a href="{{ hwd_pdf }}" title="Download {{ membership.product.name }} PDF">PDF</a></li>
                                <li><a href="{{ hwd_epub }}" title="Download {{ membership.product.name }} ePub">ePub</a></li>
                                <li><a href="{{ hwd_mobi }}" title="Download {{ membership.product.name }} Kindle/.mobi">Kindle/.mobi</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        {% comment %}
                        <a href="" class="btn btn-primary btn-sm">Visit Slack channel</a>
                        XXX: Finish setting up Slack integration
                        {% endcomment %}
                        {% if membership.video %}
                        <a href="{% url 'course' product_slug=membership.product.get_slug %}" class="btn btn-primary">Access course videos</a>
                        {% else %}
                        <a href="{% url 'course' product_slug=membership.product.get_slug %}" class="btn btn-primary">Read online</a>
                        {% endif %}
                        {% if membership.product.name == "Hello Web App" and not membership.video %}
                        <a href="{% url 'charge' product_slug="hwa-video-supplement" %}?coupon=customerfriend" class="btn btn-secondary btn-sm m-t">Upgrade: Buy video course for 20% off ($115.24)</a>
                        {% elif membership.product.name == "Hello Web Design" and not membership.video %}
                        <a href="{% url 'charge' product_slug="hwd-video-supplement" %}?coupon=customerfriend" class="btn btn-secondary btn-sm m-t">Upgrade: Buy video course for 20% off ($59.24)</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </section>

            {% if not has_hwd or not has_hwa %}
            <hr />
            <h4>Want to buy another <i>Hello Web Books</i> product?</h4>
            <p>You get 20% off all products as an existing customer!</p>
            <section id="upsells">
                {% if not has_hwd %}
                <div class="box hello-web-design">
                    <div class="content">
                        <h5>Hello Web Design</h5>
                        <p>Learn web design fundamentals and shortcuts. Everything you need to learn just enough design for your projects.</p>
                        <ul>
                            <li><a href="{% url 'charge' product_slug="hwd-video" %}?coupon=customerfriend">Buy the video package</a> for <b>$79.20</b> (originally $99.00). Add the paperback for $30 + shipping.</li>
                            <li><a href="{% url 'charge' product_slug="hwd-pb" %}?coupon=customerfriend">Buy the paperback package</a> for <b>$31.96</b> + shipping (originally $39.95).</li>
                            <li><a href="{% url 'charge' product_slug="hwd-ebooks" %}?coupon=customerfriend">Buy the eBook package</a> for <b>$19.96</b> (originally $24.95).</li>
                        </ul>
                        <a href="{% url 'learn-design' %}" class="btn btn-secondary btn-sm">See product page</a>
                    </div>
                </div>
                {% endif %}
                {% if not has_hwa %}
                <div class="box hello-web-app">
                    <div class="content">
                        <h5>Hello Web App</h5>
                        <p>Create a unique web app using Python 3 and Django 2.0 and launch on Heroku. Two book set.</p>
                        <ul>
                            <li><a href="{% url 'charge' product_slug="hwa-video" %}?coupon=customerfriend">Buy the video package</a> for <b>$143.20</b> (originally $179.00). Add the paperback for $30 + shipping.</li>
                            <li><a href="{% url 'charge' product_slug="hwa-pb" %}?coupon=customerfriend">Buy the paperback package</a> for <b>$47.96</b> + shipping (originally $59.95).</li>
                            <li><a href="{% url 'charge' product_slug="hwa-ebooks" %}?coupon=customerfriend">Buy the eBook package</a> for <b>$27.96</b> (originally $34.95).</li>
                        </ul>
                        <a href="{% url 'learn-django' %}" class="btn btn-secondary btn-sm">See product page</a>
                    </div>
                </div>
                {% endif %}
            </section>
            {% else %}
            <p class="text-center m-y-md">You have every book I offer! Thank you. 💕</p>
            {% endif %}
        </div>

        <!-- Sidebar -->
        <div class="col-md-3 sidebar m-t-lg">
            <h4>Administration</h4>
            <ul class="list-unstyled">
                {% comment %}<li><a href="{% url 'charge_update' %}">Update payment details</a></li>{% endcomment %}
                <li><a href="{% url 'password_change' %}">Update password</a></li>
                <li><a href="{% url 'edit_email' %}">Update email</a></li>
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
    <hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>
</div>
{% endblock content %}
