{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Dashboard");
{% endblock %}

{% block bodyclass %}
<body id="membership-page">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center m-t"><span class="highlight">Dashboard</span></h1>

    <div class="row">
        <!-- Main column -->
        <div class="col-md-9">
            <h2>Your products:</h2>
            <section id="memberships">
                {% for membership in memberships %}
                <div class="box {{ membership.product.name|slugify }}" {% if memberships.count != 1 %}style="background-size:contain;{% if membership.product.name == 'Hello Web App' %}background-position: 0 -120px;{% endif %}"{% endif %}>
                    <div class="content">
                        {% if membership.product.type == 'zine' %}
                        <span class="badge badge-content membership-badge">Zine</span>
                        {% else %}
                        <span class="badge badge-content membership-badge">Book</span>
                        {% endif %}
                        <h2>
                            <a href="{% url 'course' product_slug=membership.product.get_slug %}">
                                {{ membership.product.name }}
                            </a>
                        </h2>
                        {% if not customer.stripe_id or membership.product.type == "zine" %}
                        <p class="boughton">Access began on {{ membership.created|date:"M. d, Y" }}</p>
                        {% else %}
                        <p class="boughton">Bought on {{ membership.created|date:"M. d, Y" }}</p>
                        {% endif %}
                        <div style="margin-top: 1em; margin-bottom: 2em;">
                            <p style="font-size:90%;" class="m-b-0"><b>Download eBook files:</b></p>
                            <ul style="font-size:90%;">
                                {% include 'dashboard/course/_course_files.html' with product_name=membership.product.name %}
                            </ul>
                        </div>
                        {% if membership.video and membership.product.type == 'book' %}
                        <a href="{% url 'course' product_slug=membership.product.get_slug %}" class="btn btn-primary">Access course videos</a>
                        {% else %}
                        <a href="{% url 'course' product_slug=membership.product.get_slug %}" class="btn btn-primary">Read online</a>
                        {% endif %}
                        <a href="https://hellowebbooks.slack.com/messages/{% if membership.product.name == 'Really Friendly Command Line Intro' %}command-line-zine{% else %}{{ membership.product.get_slug }}{% endif %}/" class="btn btn-secondary btn-sm m-t-sm" style="vertical-align: bottom; margin-left:0.3em;" target="_blank"><i class="fa fa-slack"></i> Slack channel</a>
                        {% if membership.product.name == "Hello Web App" and not membership.video %}
                        <a href="{% url 'charge' product_slug="hwa-video-supplement" %}?coupon=customerfriend" class="btn btn-secondary btn-sm m-t-sm" style="vertical-align: bottom"><strong>Upgrade:</strong> Buy video course for 20% off ($115.24)</a>
                        {% elif membership.product.name == "Hello Web Design" and not membership.video %}
                        <a href="{% url 'charge' product_slug="hwd-video-supplement" %}?coupon=customerfriend" class="btn btn-secondary btn-sm m-t-sm" style="vertical-align: bottom"><strong>Upgrade:</strong> Buy video course for 20% off ($59.24)</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </section>

            {% if 'Hello Web Design' not in membership_list or 'Hello Web App' not in membership_list or 'Really Friendly Command Line Intro' not in membership_list %}
            <hr />
            <h4>Other <i>Hello Web Books</i> products</h4>
            <p>You get 20% off all products as an existing customer!</p>
            <section id="upsells">
                {% if 'Hello Web Design' not in membership_list %}
                <div class="box hello-web-design">
                    <div class="content">
                        <span class="badge badge-content membership-badge membership-badge-new">Book</span>
                        <h5>Hello Web Design</h5>
                        <p>Learn web design fundamentals and shortcuts. Everything you need to learn just enough design for your projects.</p>
                        <ul>
                            <li><a href="{% url 'charge' product_slug="hwd-video" %}?coupon=customerfriend">Buy the video package</a> for <b>$79.20</b> (originally $99.00). Add the paperback for $30 + shipping.</li>
                            <li><a href="{% url 'charge' product_slug="hwd-pb" %}?coupon=customerfriend">Buy the paperback package</a> for <b>$31.96</b> + shipping (originally $39.95).</li>
                            <li><a href="{% url 'charge' product_slug="hwd-ebooks" %}?coupon=customerfriend">Buy the eBook package</a> for <b>$19.96</b> (originally $24.95).</li>
                        </ul>
                        <a href="{% url 'learn-design' %}" class="btn btn-secondary btn-sm">See product page</a>
                    </div>
                </div>
                {% endif %}
                {% if 'Hello Web App' not in membership_list %}
                <div class="box hello-web-app">
                    <div class="content">
                        <span class="badge badge-content membership-badge membership-badge-new">Book</span>
                        <h5>Hello Web App</h5>
                        <p>Create a unique web app using Python 3 and Django 2.0 and launch on Heroku. Two book set.</p>
                        <ul>
                            <li><a href="{% url 'charge' product_slug="hwa-video" %}?coupon=customerfriend">Buy the video package</a> for <b>$143.20</b> (originally $179.00). Add the paperback for $30 + shipping.</li>
                            <li><a href="{% url 'charge' product_slug="hwa-pb" %}?coupon=customerfriend">Buy the paperback package</a> for <b>$47.96</b> + shipping (originally $59.95).</li>
                            <li><a href="{% url 'charge' product_slug="hwa-ebooks" %}?coupon=customerfriend">Buy the eBook package</a> for <b>$27.96</b> (originally $34.95).</li>
                        </ul>
                        <a href="{% url 'learn-django' %}" class="btn btn-secondary btn-sm">See product page</a>
                    </div>
                </div>
                {% endif %}
                {% if 'Really Friendly Command Line Intro' not in membership_list %}
                <div class="box really-friendly-command-line-intro">
                    <div class="content">
                        <span class="badge badge-content membership-badge membership-badge-new">Zine</span>
                        <h5>Really Friendly Command Line Intro</h5>
                        <p style="margin-bottom: 10px;">Learn how to use the command line! This is a free addition to your account (other than Amazon Kindle or print versions). Downloadable files include both PDF and print-and-staple PDF files. An ideal companion to <i>Hello Web App</i>.</p>
                        <ul>
                            <li><a href="{% url 'add_product' product_slug='really-friendly-command-line-intro' %}">Add the <em>free</em> eBook to your dashboard.</li>
                            <li><a href="https://amzn.to/2TKQGkc">Get the physical version</a> for <b>$5.95</b> + shipping.</li>
                        </ul>
                        <a href="{% url 'add_product' product_slug='really-friendly-command-line-intro' %}" class="btn btn-primary btn-sm m-t">Add to your dashboard (free)</a>
                        <a href="{% url 'learn-command-line' %}" class="btn btn-secondary btn-sm m-t">See product page</a>
                    </div>
                </div>
                {% endif %}
            </section>
            {% else %}
            <p class="text-center m-y-md">You have every book I offer! Thank you. 💕</p>
            {% endif %}
        </div>

        <!-- Sidebar -->
        <div class="col-md-3 sidebar m-t-lg">
            <h4>Administration</h4>
            <ul class="list-unstyled">
                {% comment %}<li><a href="{% url 'charge_update' %}">Update payment details</a></li>{% endcomment %}
                <li><a href="{% url 'password_change' %}">Update password</a></li>
                <li><a href="{% url 'edit_email' %}">Update email</a></li>
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            </ul>

            {% if 'Hello Web App' in membership_list or 'Hello Web Design' in membership_list %}
            <h4 class="m-t-lg">Want to help out?</h4>
            <p>Amazon reviews are hugely important to me. Even if you didn't buy on Amazon, it would be a great help if you could leave a review for me (good or bad!)</p>
            <ul class="list-unstyled">
            {% if 'Hello Web App' in membership_list %}
            <li><a href="https://www.amazon.com/review/create-review/ref=cm_cr_dp_d_wr_but_top?ie=UTF8&channel=glance-detail&asin=0986365912" target="_blank" class="btn btn-sm btn-secondary wrap-button">Leave a review for Hello Web App</a></li>
            {% endif %}
            {% if 'Hello Web Design' in membership_list %}
            <li><a href="https://www.amazon.com/review/create-review/ref=cm_cr_dp_d_wr_but_top?ie=UTF8&channel=glance-detail&asin=0986365947" class="btn btn-sm btn-secondary m-t wrap-button">Leave a review for Hello Web Design</a></li>
            {% endif %}
            {% endif %}
            <ul>
        </div>
    </div>
    <hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>
</div>
{% endblock content %}
