{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Edit Email - {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 super-vertical-margin" >
            <h1>Update Email</h1>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% include 'includes/form.html' with form=form %}
                <input type="submit" value="Submit" class="btn btn-lg btn-primary"/>
            </form>
        </div>
    </div>
    <hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>
</div>
{% endblock content %}
