{% load static %}
<div class="col-lg-10 col-lg-offset-1 col-md-12 package-container video-area">
    <div class="text-center" style="margin-bottom: 1em;">
        <img src="{% static '/images/icons/video.png' %}" alt="" height="50" />
        <h3><span class="highlight">The Videos + eBooks</span></h3>
        <p class="quiet">Optional paperbacks for $30 USD + shipping extra</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div style="margin-left: 20px">
                <img src="{% static '/images/products/videopreview.jpg' %}" alt="Preview of the Hello Web Design videos"/>
            </div>
        </div>

        <div class="col-md-8">
            <p><strong>The complete Hello Web Books package!</strong> Includes all files and videos for <em>Hello Web Design</em> to teach you web design fundamentals, as well as the complete <em>Hello Web App</em> set to walk you through building a web app with Django.</p>

            <p>Package contains:</p>

            <ul>
                <li><strong>45 videos and screencasts</strong> &#8212; go through the book with the author, Tracy, introducing you to each chapter and walking you through each concept.</li>
                <li><strong>Access to a video dashboard</strong> so you can keep track of your progress.</li>
                <li><strong>The three eBooks in three formats each</strong> &#8212; the PDF (designed by Tracy), .ePub, and .mobi/Kindle.</li>
                <li><strong>The gorgeous paperback books</strong> &#8212; Optional add-on for $30 USD + shipping.</li>
            </ul>

            <div class="m-t-md m-b">
              <a class="btn btn-primary buy-button" data-title="Hello Web Books Videos" data-category="Hello Web Books Combo" data-price="199" href="{% url 'upsell' product_slug='hwb-video' %}">
                  Buy the full course for
                  {% if request.user.is_authenticated and not request.session.brand_new_user and not request.session.giftee_user %}
                  <s>$199</s> $159.20
                  {% else %}
                  $199
                  {% endif %}
              </a>
              <p class="text-muted"><small>Price is in USD.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-offset-1 col-lg-7 col-md-8">
    <div class="package-container paperback-area">
        <div class="text-center" style="margin-bottom: 1em;">
            <img src="{% static '/images/icons/toc.png' %}" alt="" height="50" />
            <h3><span class="highlight">The Paperbacks (eBooks included)</span></h3>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'images/all/new-square.jpg' %}" alt="Hello Web Books paperbacks" />
            </div>
            <div class="col-md-7">
                <p>Learn better with a physical book? I got you! <strong>This package contains the three eBooks</strong> (in all three formats) <strong>plus the paperback books</strong>. Shipping extra.</p>
            </div>
            <div class="text-center">
                <a class="btn btn-secondary buy-button" data-title="Hello Web Books Paperbacks" data-category="Hello Web Books Combo" data-price="79.95" href="{% url 'upsell' product_slug='hwb-pb' %}">
                    Buy for
                    {% if request.user.is_authenticated and not request.session.brand_new_user and not request.session.giftee_user %}
                    <s>$79.95</s> $63.96 <span class="text-muted">+ shipping</span>
                    {% else %}
                    $79.95 <span class="text-muted">+ shipping</span>
                    {% endif %}
                </a>
                <p class="text-muted"><small>Price is in USD.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 package-container">
    <div class="text-center" style="margin-bottom: 1em;">
        <img src="{% static '/images/icons/ipad.png' %}" alt="" height="50" />
        <h3>Just the eBooks</h3>
    </div>
    <p><strong>The digital books</strong>, lovingly designed by Tracy herself. Each book comes in PDF, .mobi, and .ePub formats.</p>
    <div class="text-center">
        <a class="btn btn-secondary buy-button" data-title="Hello Web Books eBooks" data-category="Hello Web Books Combo" data-price="49.95" href="{% url 'upsell' product_slug='hwb-ebooks' %}">
            Buy for
            {% if request.user.is_authenticated and not request.session.brand_new_user and not request.session.giftee_user %}
            <s>$49.95</s> $39.96
            {% else %}
            $49.95
            {% endif %}
        </a>
        <p class="text-muted"><small>Price is in USD.</small></p>
    </div>
</div>
