{% load static %}
<div class="col-lg-10 col-lg-offset-1 col-md-12 package-container video-area">
    <div class="text-center" style="margin-bottom: 1em;">
        <img src="{% static '/images/icons/video.png' %}" alt="" height="50" />
        <h3><span class="highlight">The Videos + eBooks</span></h3>
        <p class="quiet">Optional paperbacks for $20 USD + shipping extra</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div style="margin-left: 20px">
                <img src="{% static 'images/products/both-videos.jpg' %}" alt="Hello Web App complete video package" />
            </div>
        </div>
        <div class="col-md-8">
            <p>This package contains the entire Hello Web App series &#8212; the paperback books, the videos, and the eBooks. Learn how to build, grow, and monetize your web app all in one purchase.</p>
            <h4>Full contents:</h4>
            <ul>
                <li>Two eBooks in three formats each &#8212; PDF, .mobi, and .ePub.</li>
                <li>28 videos &#8212; screencasts walking you through all chapters of the books plus four bonus beginner videos.</li>
                <li><strong>Access to a video dashboard</strong> so you can keep track of your progress.</li>
                <li>The gorgeously designed paperback books &#8212; Optional add-on for $20 USD + shipping.</li>
            </ul>
            <div class="m-t-md m-b">
                <a href="{% url 'upsell' product_slug='hwa-video' %}" class="btn btn-primary buy-button" data-title="Hello Web App Video Paperback package" data-price="179">
                    Buy the full course for
                    {% if request.user.is_authenticated and not request.session.brand_new_user and not request.session.giftee_user %}
                    <s>$179</s> $143.20
                    {% else %}
                    $179
                    {% endif %}
                </a>
                <p class="text-muted"><small>Price is in USD.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-offset-1 col-lg-7 col-md-8">
    <div class="package-container paperback-area">
        <div class="text-center" style="margin-bottom: 1em;">
            <img src="{% static '/images/icons/toc.png' %}" alt="" height="50" />
            <h3><span class="highlight">The Paperbacks (eBooks included)</span></h3>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'images/both/1-sm.jpg' %}" alt="Hello Web App paperbacks" />
            </div>
            <div class="col-md-7">
                <p>Learn better with a physical book? I got you! <strong>This package contains the eBooks</strong> (in all three formats) <strong>plus the paperback books</strong>. Shipping extra.</p>
            </div>
            <div class="text-center">
                <a class="btn btn-secondary buy-button" data-title="Hello Web App Paperback" data-category="Hello Web App" data-price="59.95" href="{% url 'upsell' product_slug='hwa-pb' %}">
                    Buy for
                    {% if request.user.is_authenticated and not request.session.brand_new_user and not request.session.giftee_user %}
                    <s>$59.95</s> $47.96 <span class="text-muted">+ shipping</span>
                    {% else %}
                    $59.95 <span class="text-muted">+ shipping</span>
                    {% endif %}
                </a>
                <p class="text-muted"><small>Price is in USD.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 package-container">
    <div class="text-center" style="margin-bottom: 1em;">
        <img src="{% static '/images/icons/ipad.png' %}" alt="" height="50" />
        <h3>Just the eBooks</h3>
    </div>
    <p><strong>The digital books</strong>, lovingly designed by Tracy herself. Comes in PDF, .mobi, and .ePub formats for each.</p>
    <div class="text-center">
        <a class="btn btn-secondary buy-button" data-title="Hello Web App eBooks" data-category="Hello Web App" data-price="34.95" href="{% url 'upsell' product_slug='hwa-ebooks' %}">
            Buy for
            {% if request.user.is_authenticated and not request.session.brand_new_user and not request.session.giftee_user %}
            <s>$34.95</s> $27.96
            {% else %}
            $34.95
            {% endif %}
        </a>
        <p class="text-muted"><small>Price is in USD.</small></p>
    </div>
</div>
