{% load static %}
<div class="col-lg-10 col-lg-offset-1 col-md-12 package-container video-area">
    <div class="text-center" style="margin-bottom: 1em;">
        <img src="{% static '/images/icons/video.png' %}" alt="" height="50" />
        <h3><span class="highlight">The Videos + eBooks</span></h3>
        <p class="quiet">Optional paperback for $10 USD + shipping extra</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="text-center m-l">
                <a href="https://www.youtube.com/watch?v=_plvgaEjmak&t=1s" target="_blank"><img src="{% static '/images/products/videopreview.jpg' %}" class="m-b-0" alt="Preview of the Hello Web Design videos"/></a>
                <a href="https://www.youtube.com/watch?v=_plvgaEjmak&t=1s" target="_blank"><small class="text-muted">Preview the introduction on YouTube</small></a>
            </div>
        </div>

        <div class="col-md-8">
            <p><strong>Learn web design fundamentals and shortcuts with the complete <em>Hello Web Design</em> package.</strong> Aimed at developers, programmers, marketers &#8212; anyone who isn't a designer &#8212; the <em>Hello Web Design</em> books and screencasts will help anyone get confident to start doing design themselves.</p>

            <p>Package contains:</p>

            <ul>
                <li><strong>17 videos and screencasts</strong> &#8212; go through the book with the author, Tracy, introducing you to each chapter and screencasting all recommendations from the book.</li>
                <li><strong>Access to a video dashboard</strong> so you can keep track of your progress.</li>
                <li><strong>The eBook in three formats</strong> &#8212; the PDF (designed by Tracy), .ePub, and .mobi/Kindle.</li>
                <li><strong>The gorgeous paperback book</strong> &#8212; Optional add-on for $10 USD + shipping.</li>
            </ul>

            <div class="m-t-md m-b">
                <a class="btn btn-primary buy-button" data-title="Hello Web Design Videos" data-category="Hello Web Design" data-price="99" href="{% url 'upsell' product_slug='hwd-video' %}">
                    Buy the full course for
                    {% if request.user.is_authenticated and not request.session.brand_new_user and not   request.session.giftee_user %}
                    <s>$99</s> $79.20
                    {% else %}
                    $99{% endif %}
                </a>
                <p class="text-muted"><small>Price is in USD.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-offset-1 col-lg-7 col-md-8">
    <div class="package-container paperback-area">
        <div class="text-center" style="margin-bottom: 1em;">
            <img src="{% static '/images/icons/toc.png' %}" alt="" height="50" />
            <h3><span class="highlight">The Paperback (eBook included)</span></h3>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'images/hwd/1.jpg' %}" alt="Hello Web Design paperback" />
            </div>
            <div class="col-md-7">
                <p>Learn better with a physical book? I got you! <strong>This package contains the eBook</strong> (in all three formats) <strong>plus the paperback book</strong>. Shipping extra.</p>
            </div>
            <div class="text-center">
                <a class="btn btn-secondary buy-button" data-title="Hello Web Design Paperback" data-category="Hello Web Design" data-price="39.95" href="{% url 'upsell' product_slug='hwd-pb' %}">
                    Buy for
                    {% if request.user.is_authenticated and not request.session.brand_new_user and not request.session.giftee_user %}
                    <s>$39.95</s> $31.96 <span class="text-muted">+ shipping</span>
                    {% else %}
                    $39.95 <span class="text-muted">+ shipping</span>
                    {% endif %}
                </a>
                <p class="text-muted"><small>Price is in USD.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 package-container">
    <div class="text-center" style="margin-bottom: 1em;">
        <img src="{% static '/images/icons/ipad.png' %}" alt="" height="50" />
        <h3>Just the eBook</h3>
    </div>
    <p><strong>The digital book</strong>, lovingly designed by Tracy herself. Comes in PDF, .mobi, and .ePub formats.</p>
    <div class="text-center">
        <a class="btn btn-secondary buy-button" data-title="Hello Web Design eBooks" data-category="Hello Web Design" data-price="24.95" href="{% url 'upsell' product_slug='hwd-ebooks' %}">
            Buy for
            {% if request.user.is_authenticated and not request.session.brand_new_user and not request.session.giftee_user %}
            <s>$24.95</s> $19.96
            {% else %}
            $24.95
            {% endif %}
        </a>
        <p class="text-muted"><small>Price is in USD.</small></p>
    </div>
</div>
