{% extends "base.html" %}
{% comment %}{% load static wagtailcore_tags wagtailimages_tags wagtailuserbar blogapp_tags el_pagination_tags menu_tags wagtailmd %}{% endcomment %}
{% load static wagtailcore_tags wagtailimages_tags wagtailuserbar blogapp_tags el_pagination_tags wagtailmd %}

{% block title %}{{ block.super }}{% endblock title %}
{% block header %}
    <meta name="description" content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}"/>
    <meta property="og:url" content="https://hellowebbooks.com/{{ path|cut:".html" }}/">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:description"
          name="description" content="{{ description }}">
    <meta name="twitter:site" content="@hellowebbooks" />
    <!--<meta name="twitter:image"
          property="og:image" content="https://hellowebbooks.com/static{{ featuredimage }}">-->
    <meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block analytics %}
analytics.page("Blog: {{ blog_page.title }}");
{% endblock %}

{% block bodyclass %}
<body id="post" class="{{ blog_page.title|slugify }}">
{% endblock %}

{% block content %}

    {% block maincontent %}
    {% block postcontent %}

    {% endblock %}
    {% endblock %}

{% endblock content %}
