{% extends "base.html" %}
{% load staticfiles %}

{% block title %}404 - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("404 Error");
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">Page not found</h1>
      <p>This shouldn't happen and yet, here we are. Are you sure you typed in the correct address? Feel free to email me at <a href="mailto:tracy@hellowebbooks.com">tracy@hellowebbooks.com</a> and let me know about the error.</p>
</div>

{% endblock content %}
