{% extends "base.html" %}
{% load static %}

{% block title %}Set Up - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Setup");
{% endblock %}

{% block bodyclass %}
<body id="setup">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h1>Hello Web App Set Up Instructions</h1>
        </div>

        <div class="col-md-3 text-right" style="padding-right: 40px;">
            <h3 style="margin-top:0;">Table of Contents</h3>
            <ol class="list-unstyled toc">
                <li><a href="#install-python">Install Python</a>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#install-pip">Install pip</a>
                        </li>
                    </ol>
                </li>
                <li><a href="#install-virtualenv">Install Virtualenv</a></li>
                <li><a href="#setup-django">Set up Django</a>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#start-virtualenv">Start your Virtualenv</a>
                        </li>
                        <li>
                            <a href="#install-django">Install Django</a>
                        </li>
                        <li>
                            <a href="#start-git">Start git</a>
                        </li>
                        <li>
                            <a href="#start-project">Start your project</a>
                        </li>
                        <li>
                            <a href="#create-app">Create an app</a>
                        </li>
                        <li>
                            <a href="#app-settings">Add your app to your settings</a>
                        </li>
                        <li>
                            <a href="#setup-database">Set up your database</a>
                        </li>
                        <li>
                            <a href="#start-server">Start your local server</a>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>

        <div class="col-md-9">
            <p>Hey friends! Let's get your computers set up so you can run the <a href="{% url 'order' %}">Hello Web App tutorial</a>. This page might look long but it should be fairly simple. Just a lot of steps. One of the hardest parts about web app development is installation (the other is deployment) so once we're through this challenging beginning bit, everything will get a lot easier.</p>

            <p>(Why don't I include these instructions in the book? Here, I can
update whenever I need since the programming ecosystem changes a lot.  This
way, the books won't go out of date as quickly!)</p>

            <hr/>
        </div>
    </div>

    <div class="row">
         <div class="col-md-9 col-md-push-3">
           <h2 id="command-line" style="margin-top: 0;">Optional: Get Comfortable with Command Line</h2>

           <p>Are you new to development? I wrote a <a href="https://hellowebbooks.com/learn-command-line">fun, short zine</a> to introduce using the command line for beginners. We'll be using the command line a lot throughout the book so, if you're new to using the command line, I recommend checking out the zine first (comes in printable, online, and other versions): <a href="https://hellowebbooks.com/learn-command-line">https://hellowebbooks.com/learn-command-line</a></p>

            <h2 id="install-python">1. Install Python</h2>

<p>Unfortunately, unlike making web pages with HTML, we need to install Python before our computers can run the files that we&#39;re building.</p>
<p>Head over to these links to install <strong>Python 3</strong> onto your computer:</p>
<ul>
<li><a href="http://docs.python-guide.org/en/latest/starting/install3/osx/">Mac OSX</a></li>
<li><a href="http://docs.python-guide.org/en/latest/starting/install3/win/">Windows</a></li>
<li><a href="http://docs.python-guide.org/en/latest/starting/install3/linux/">Linux</a></li>
</ul>
<p>Windows users, I highly encourage you to use the <a href="https://www.laptopmag.com/articles/use-bash-shell-windows-10">Linux Subsystem for Windows</a> to give yourself the ability to use UNIX commands used in the books (like <code>touch</code>) in your command line.</p>

<h3 id="install-pip">Do you have pip installed?</h3>

<p><em>pip</em> is the Python package installer — you&#39;ll use it heavily with <em>Hello Web
App</em> and pretty much any Python project. If you followed the Python install
instructions, you should have pip installed already.</p>
<p>To check whether it&#39;s installed, open up your command line and run this <em>(don&#39;t
include the</em> <code>$</code><em>, it&#39;s an indicator that this command is being run in your
command line utility)</em>:</p>

<pre><code class="sh">
<span class="cmd">$</span> pip list
</code></pre>

<p>It should be pretty obvious if it didn&#39;t work. If it didn&#39;t work, <a href="https://pip.pypa.io/en/stable/installing/">check out
this page</a>.</p>

<hr/>

<h2 id="install-virtualenv">2. Install Virtualenv</h2>

<p>When we start developing our Django apps, we want to make sure our projects are
enclosed in &quot;bubbles&quot; known as virtual environments.</p>
<p>For example, as of this writing, Django&#39;s current version is 2.0. When new
versions of Django are released, they may not be backwards compatible with
previous versions of Django.</p>
<p>Without a virtual environment, we&#39;d have Django 1.9.2 installed <em>globally</em> on
our computer, and every Django project you build would use that version. If you
wanted to upgrade your version of Django, you&#39;d have to go through every one of
your projects to make sure they don&#39;t break.</p>
<p><strong>With a virtual environment, every project can have a separate version of
Django and other plugins that you install.</strong> You can install Django 1.9 on one
project, and down the line, start another project with Django 2.0. Every
project can work off of whatever version of whatever you install, keeping them
separate from each other. This is very important when you&#39;re programming.</p>
<p>We should already have pip, so we&#39;ll use it to install virtualenv <em>(again,
don&#39;t paste in the</em> <code>$</code> <em>)</em>:</p>

<pre><code class="sh commandline">
<span class="cmd">$</span> pip install virtualenv
</code></pre>

<hr/>

<h2 id="setup-django">3. Set up Django and start your project</h2>

<p>First thing we need to do is create a folder for your project. I personally use
a &quot;projects&quot; folder in my top level user folder on my computer, which contains
all my programming projects. If you&#39;d like to do this as well, follow these
commands in your terminal to create the projects folder, and a folder within for
this individual project:</p>

<pre><code class="sh">
<span class="cmd">$</span> mkdir projects
<span class="cmd">$</span> cd projects
<span class="cmd">projects $</span> mkdir myhellowebapp
<span class="cmd">projects $</span> cd myhellowebapp
</code></pre>

<p>If you need a command line review, <code>mkdir</code> creates folders, and <code>cd</code> changes
directories into that folder. If you ever get lost, your terminal should show
which directory you&#39;re in, and running <code>ls</code> (on Mac or Linux, <code>dir</code> on Windows),
will list out the contents of the folder you&#39;re in. Use <code>cd ..</code> to back up out
of a folder.</p>

<h3 id="start-virtualenv">Start your virtual environment</h3>

<p>Now that you're within your empty project folder, create your virtual
environment.</p>

<pre><code class="sh">
<span class="cmd">projects/myhellowebapp $</span> virtualenv venv
</code></pre>

<p>And then activate the environment:</p>

<pre><code class="sh">
<span class="cmd">projects/myhellowebapp $</span> source venv/bin/activate
</code></pre>

<p>You should see something like this in your command line before the folder
structure — the (venv) indicates you're in the virtual environment:</p>

<pre><code class="sh">
(venv)tracymakes@Orion ~/projects/myhellowebapp $
</code></pre>

<p>(Orion is my computer's name and tracymakes is my username — your exact setup
will be different.)

Now you're in your bubble, so we can start installing project-specific utilities.
If you ever need to deactivate your environment, run <code>deactivate</code>.</p>

<h3 id="install-django">Install Django</h3>

<p>Finally, it's Django time! We'll use pip to install Django, so run this in your
command line, making sure you're in your project folder and the virtual
environment is activated:</p>

<pre><code class="sh">
<span class="cmd">$</span> pip install Django==2.0.9
</code></pre>

<p><span class="highlight"><strong>NOTE:</strong> There are breaking changes to how registration works in Django 2.1, and <i>Hello Web App</i>'s current instructions do not contain this change. Please install the exact version above, or read <a href="http://discuss.hellowebapp.com/t/django-2-1-changes/618/7">this thread for how to upgrade</a>. An updated eBook will be released soon.</span></p>

<p>We're telling pip to install a specific version of Django, in case Django
releases a new version that this tutorial doesn't cover.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-md-push-3">
            <h3 style="margin-top: 0;" id="start-git">Start git</h3>
<p>We also want to start our version control system. Now that we're in our project
folder, run this command to start git:</p>

<pre><code class="sh">
<span class="cmd">$</span> git init
</code></pre>

<p>Running this command in your project folder will make the entire folder and its
contents part of a new Git repository. For more about git and why we should use
it (spoiler: version control is very important <em>and</em> it&#39;s needed for deployment
to Heroku), see the <a href="https://github.com/hellowebbooks/HelloWebApp/tree/master/git-tips">Git tips page
here</a>.</p>
        </div>
        <div class="col-md-3 col-md-pull-9 text-right setup-sidebar">
            <p><small style="display:block">
                    <i><b>Optional but good to do:</b> Git will track <b>everything</b> in your directory, but we really only want it to track files we're actually changing. We can tell Git to ignore certain files by creating a </i>.gitignore<i> file in our top level directory (<code>touch .gitignore</code>), then open up the file with a code editor and <a href="https://hellowebapp.com/gitignore/">pasting everything here in</a>.
</i></small></p>
<p><small style="display:block"><i>
            Then you can commit the file (<code>git add .</code> then <code>git commit -a -m "Added git ignore file"</code>) and now Git won't track those files.
</i></small></p>


        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-md-offset-3">

<h3 id="start-project">Start your Django project</h3>

<p>We installed Django, now we can use Django to build all the starting files we
need for our web app. In your command line (again, in your project folder with
your environment activated):</p>

<pre><code class="sh">
<span class="cmd">$</span> django-admin startproject hellowebapp .
</code></pre>

<p><em>(The <code>.</code> at the end is important, don&#39;t forget it!)</em></p>
<p>This is going to start a Django project in your currect directory.</p>
<ul>
<li><code>django-admin</code>: The script we&#39;ll be running.</li>
<li><code>startproject</code>: The specific utility we&#39;re using.</li>
<li><code>hellowebapp</code>: The name we&#39;re giving the project.</li>
<li><code>.</code>: The location where we&#39;re starting the project, with <code>.</code> denoting the
current directory.</li>
</ul>
<p><code>startproject</code> will create these files and folders:</p>

<pre><code class="sh">
myhellowebapp/
    manage.py
    hellowebapp/
        __init__.py
        settings.py
        urls.py
        wsgi.py
</code></pre>

<p>The <em>myhellowebapp</em> folder is your top level directory.</p>
<ul>
<li><em>manage.py</em>: We won&#39;t edit this file, but will use this file in the command line
to interact with your project. You&#39;ll see it in action soon.</li>
<li>The inner <em>hellowebapp</em> folder holds your project.</li>
<li><em>__init__.py</em>: Ignorable — tells Python that this is a Python &quot;package&quot;.</li>
<li><em>settings.py</em>: Aptly named — contains your settings.</li>
<li><em>urls.py</em>: URL declarations for the project. Important and we&#39;ll go over this
soon.</li>
<li><em>wsgi.py</em>: Not needed at this point until you deploy your project.</li>
</ul>

<h3 id="create-app">Create your Django app</h3>

<p>A project can run many apps (all doing something distinct), but we&#39;re just going
to focus on having one for now, which is all you&#39;ll need for a very long
time.</p>
<p>In your top level folder (the one with <em>manage.py</em> in it), run this command:</p>

<pre><code class="sh">
<span class="cmd">$</span> django-admin startapp collection
</code></pre>

<p>Like before, <code>django-admin</code> is the script, <code>startapp</code> is the command, and
<code>collection</code> is the name we&#39;re giving the app, which you can change if you wish.</p>
<p><code>startapp</code> will create an additional folder and a few files:</p>

<pre><code class="sh">
myhellowebapp/
    manage.py
    collection/
        __init__.py
        admin.py
        models.py
        tests.py
        views.py
    hellowebapp/
        __init__.py
        settings.py
        urls.py
        wsgi.py
</code></pre>

<p>Note the additional &quot;collection&quot; folder in your project.</p>
<ul>
<li><em>__init__.py</em>: Ignorable — again, Python just needs this empty file.</li>
<li><em>admin.py</em>: Contains admin codebits.</li>
<li><em>models.py</em>: Where you&#39;ll define your database eventually.</li>
<li><em>tests.py</em>: We&#39;ll eventually write tests to test your code for errors here.</li>
<li><em>views.py</em>: Where the logic goes that powers your website.</li>
</ul>
<p>If that&#39;s a bit complicated, don&#39;t worry about it yet because we&#39;ll review it
all later when we specifically start working with all those files.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-md-push-3">
            <h3 style="margin-top: 0;" id="app-settings">Add your new app to your settings file</h3>

            <p>We need to tell the project that we&#39;ve added an app to it — it doesn&#39;t find it
            automatically.  Open up your <em>settings.py</em> file (which is under the
            <em>hellowebapp</em> directory, see the directory tree above) and find the
            <code>INSTALLED_APPS</code> section. Add the name of your app to the beginning of the list
            (don&#39;t forget the trailing comma):</p>

<pre><code class="python">
INSTALLED_APPS = (
    'collection', # this is the app we added
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
)
</code></pre>
        </div>
        <div class="col-md-3 col-md-pull-9 text-right" style="padding-right: 40px;">
            <p><small style="display:block;"><i>If you've used Django before, you might be wondering why I put collection at the top of the list. It's a bit of trickery to make sure our templates are used rather than the default Django admin templates when we set up our login pages. Shouldn't affect anything else.</i></small></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-md-offset-3">

<h3 id="setup-database">Set up your database</h3>

<p>Django has some fancypants utilities built in to keep your database (where
all your dynamic information is stored) managable. We need to run the initial
migration before we start the app, so in your top level folder (the one with <em>manage.py</em> in it), type this in:</p>

<pre><code class="sh">
<span class="cmd">$</span> python manage.py migrate
</code></pre>

<p>It&#39;s going to create your database automatically for you and port over some
information. Don&#39;t worry about understanding this just yet — we&#39;ll go over
databases and migrations a bit more in the &quot;Adding Dynamic Data&quot; chapter of
Hello Web App.</p>

<h3 id="start-server">Start your local server</h3>

<p>Want to see if everything worked? In your terminal, head over to your top level
myhellowebapp folder (make sure you&#39;re in the same directory as <em>manage.py</em>)
and run this command:</p>

<pre><code class="sh">
<span class="cmd">$</span> python manage.py runserver
</code></pre>

<p>...and you'll see the local Django development server starting, which'll serve
your project to your computer.</p>

<pre><code class="sh">
<span class="cmd">$</span> python manage.py runserver
Validating models...

0 errors found
March 26, 2014 - 15:50:53
Django version 2.0.8, using settings 'mysite.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CONTROL-C.
</code></pre>

<p>Now just head to your favorite web browser and visit
<a href="http://localhost:8000">http://localhost:8000</a>, where you&#39;ll see a &quot;Welcome to
Django&quot; page. Congrats on starting Django!</p>

<img src="{% static 'images/newproject.png' %}" alt="New project with Django" style="border: 1px solid #e1e1e1; margin-bottom: 1em;"/>

<p>At this point you can continue working on the book. Best of luck and remember to use the <a href="http://discuss.hellowebapp.com">discussion forum</a> if you need any help!</p>

<hr/>

<p><strong>Learn how to create your first web app and get on the path of a fun side project, a lifestyle business, or your first startup. <a href="{% url 'order' %}">Order Hello Web App today.</a></strong></p>

        </div>
    </div>
</div>

{% include 'includes/newsletter.html' %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
<link rel="stylesheet" href="{% static '/css/tomorrow-night-blue.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}
