<div class="ck_form_container ck_modal ck_form_v6" id="ck_modal" data-ck-version="6">
    
  <div class="ck_form ck_vertical_subscription_form">
    <div class="ck_form_content">
        <h3 class="ck_form_title">Get the <i>{{ book_name }}</i> sample by joining the Hello Web Books email newsletter</h3>
      <div class="ck_description">
        <span class="ck_image">
            <img alt="Img_6545-xsmall" src="{{ book_image }}" />
        </span>
        <p>You'll get a link to the sample immediately after signing up for the newsletter.</p>
      </div>
    </div>

    <div class="ck_form_fields">
      <div id="ck_success_msg" style="display:none;">
        <p>Success! Now check your email to confirm your subscription.</p>
      </div>

      <!--  Form starts here  -->
      <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/{{ form_id }}/subscribe" data-remote="true">
        <input type="hidden" value="{&quot;form_style&quot;:&quot;full&quot;,&quot;embed_style&quot;:&quot;modal&quot;,&quot;embed_trigger&quot;:&quot;timing&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;99999&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
        <input type="hidden" name="id" value="{{ form_id }}" id="landing_page_id">
        <input type="hidden" name="ck_form_recaptcha" value="" id="ck_form_recaptcha">
        <div class="ck_errorArea">
          <div id="ck_error_msg" style="display:none">
            <p>There was an error submitting your subscription. Please try again.</p>
          </div>
        </div>
        <div class="ck_control_group ck_first_name_field_group">
          <label class="ck_label" for="ck_firstNameField">First Name</label>
          <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField">
        </div>
        <div class="ck_control_group ck_email_field_group">
          <label class="ck_label" for="ck_emailField">Email Address</label>
          <input type="email" name="email" class="ck_email_address" id="ck_emailField" required>
        </div>
        <div class="ck_control_group ck_captcha2_h_field_group ck-captcha2-h" style="position: absolute !important;left: -999em !important;">
          <label class="ck_label" for="ck_captcha2_h">We use this field to detect spam bots. If you fill this in, you will be marked as a spammer.</label>
          <input type="text" name="captcha2_h" class="ck-captcha2-h" id="ck_captcha2_h">
        </div>


        <button class="subscribe_button ck_subscribe_button btn fields" id="ck_subscribe_button">
          Subscribe
        </button>
        <span class="ck_guarantee">
          I won&#x27;t send you spam. Unsubscribe at any time.
            <a class="ck_powered_by" href="https://convertkit.com/?utm_source=convertkit&amp;utm_medium=referral&amp;utm_campaign=poweredby">Powered by ConvertKit</a>
        </span>
      </form>
    </div>
  </div>
</div>
