{% extends "base.html" %}
{% load staticfiles %}
{% load divide %}

{% block title %}Add Credit Card Details - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Add Credit Card Details");
{% endblock %}

{% block bodyclass %}
<body id="credit-details">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="charge-form" class="side-note col-md-6 col-md-offset-3">
            <div class="progress" style="margin-bottom:2em;">
              <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <h1>Pay with Stripe</h1>

            <!-- FIXME: Add the image of the order here? -->

            <p>You are ordering the <strong><span class="highlight">{{ product_name }}</span></strong> for <strong><span class="highlight">${{ amount|cents_to_dollars }}</span></strong>. After purchase, you will have access to a product dashboard to download your DRM-free files.</p>

            {% if not paperback %}
            <form id="addPaperbackForm" style="margin-bottom:1em;">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="1" id="addPaperback">
                  <label class="form-check-label" for="addPaperback">
                      <em>Add the paperback book for $30 + shipping?</em>
                  </label>
                </div>
            </form>
            {% endif %}

            <form id="shippingForm" style="margin-bottom:1em;">
                <label for="shippingCostSelect">Choose your country to add shipping:</label>
                <select class="form-control" id="shippingCostSelect">
                   <option value="0" selected disabled hidden>Choose here</option>
                   <option value="{{ us_postage }}">United States: ${{ us_postage|cents_to_dollars }}</option>
                   <option value="{{ can_postage }}">Canada: ${{ can_postage|cents_to_dollars }}</option>
                   <option value="{{ eur_postage }}">Europe: ${{ eur_postage|cents_to_dollars }}</options>
                   <option value="{{ aus_postage }}">Australia: ${{ aus_postage|cents_to_dollars }}</option>
                   <option value="{{ else_postage }}">Elsewhere: ${{ else_postage|cents_to_dollars }}</option>
                </select>
                <small class="form-text text-muted">
                  All prices in USD.
                </small>
            </form>

            <form action="" method="POST" id="payment-form">
                {% csrf_token %}
                <input type="hidden" id="stripeToken" name="stripeToken" />
                <input type="hidden" id="stripeEmail" name="stripeEmail" />
                <input type="hidden" id="stripeArgs" name="stripeArgs" />
                <input type="hidden" id="paymentAmount" name="paymentAmount" />
                <input type="hidden" id="stripeCoupon" name="stripeCoupon" />
                <button id="customButton" class="btn btn-primary">Pay <span id="pay_amount"></span></button>
            </form>

            <p><small><a id="coupon-code-prompt" href="#">Got a coupon code?</a></small></p>

            <form class="{% url 'check_coupon' %}" id="coupon-code-group">
                <label class="control-label" for="id_coupon_code" id="coupon-code-label">
                    Enter coupon code code here:
                </label>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" maxlength="20" class="form-control form-control-sm coupon-code" id="id_coupon_code">
                    </div>

                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-secondary btn-sm coupon-input" value="Apply coupon" />
                    </div>
                </div>
            </form>

            <hr class="super-vertical-margin"/>
            <p><small>Hello Web Books uses <a href="https://stripe.com">Stripe</a> for processing. Stripe has been audited by a PCI-certified auditor, and is certified to <a href="https://www.visa.com/splisting/searchGrsp.do?companyNameCriteria=stripe">PCI Service Provider Level 1</a>. This is the most stringent level of certification available. All card numbers are encrypted on disk with AES-256. <a href="https://stripe.com/help/security">Click here for more about Stripe's security</a>.</small></p>

        </div>
    </div>

<hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>

</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
{% comment %}<script type="text/javascript" src="https://js.stripe.com/v2/"></script>{% endcomment %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript">
    let pay_amount = {{ amount }}
    let base_price = Number({{ amount }})
    let discount = 1
    let shipping = 0
    let paperbackAddl = 0

    let hasPaperback = false
    document.getElementById('shippingForm').style.display = 'none';
    {% if paperback %}
    hasPaperback = true
    document.getElementById('shippingForm').style.display = 'block';
    {% endif %}

    document.getElementById('pay_amount').innerHTML = "$" + pay_amount/100;

    var handler = StripeCheckout.configure({
      key: 'pk_test_jiLBGxG4cd2MTORmantWx7PH',
      image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
      locale: 'auto',
      image: "{% static '/images/icons/icon3.png' %}",
      token: function(token, args) {
          $("#stripeToken").val(token.id);
          $("#stripeEmail").val(token.email);
          $("#stripeArgs").val(args);
          $("#paymentAmount").val(pay_amount);
          $("#payment-form").submit();
      }
    });

    document.getElementById('customButton').addEventListener('click', function(e) {
      // Open Checkout with further options:
      handler.open({
        name: 'Hello Web Books',
        description: '{{ product_name }}',
        currency: 'usd',
        shippingAddress: hasPaperback,
        billingAddress: hasPaperback,
        email: '{{ request.user.email }}',
        amount: pay_amount
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      handler.close();
    });

    function calculateFinalPrice() {
        let before_coupon = Number(base_price) + Number(shipping) + Number(paperbackAddl)
        pay_amount = before_coupon * discount
        document.getElementById('pay_amount').innerHTML = "$" + (pay_amount/100).toFixed(2);
    };

    function checkCoupon(coupon) {
        $.ajax({
            type: 'GET',
            url: '/check_coupon/',
            data: {"format": "json", 'coupon': coupon },
            dataType: 'json',
            contentType: "application/json",
            success: function(json){
                pay_amount = {{ amount }}
                discount = 1-(json.discount/100)
                if(discount!=1) {
                    document.getElementById('coupon-code-label').innerHTML = 'Price updated with ' + json.discount + '% discount!';
                } else {
                    document.getElementById('coupon-code-label').innerHTML = 'Discount not valid or removed.';
                }
                calculateFinalPrice()
                $("#stripeCoupon").val(coupon);
            },
            error: function(e){
                console.log(e.message);
            },
        });
    }

    $(".coupon-input").click(function() {
        let coupon = $(".coupon-code").val()
        checkCoupon(coupon)
        return false;
    });

    $('#shippingCostSelect').change(function() {
        shipping = $(this).val();
        calculateFinalPrice()
        document.getElementById("customButton").disabled = false;
    });

    $('#addPaperback').change(function() {
        if($(this).is(":checked")) {
            hasPaperback = true
            paperbackAddl = 3000
            $('#shippingForm').show('fast');
            document.getElementById("customButton").disabled = true;
        } else {
            hasPaperback = false
            paperbackAddl = 0
            shipping = 0
            $('#shippingForm').hide('fast');
        }
        calculateFinalPrice()
    });

    $(document).ready(function() {
        {% if paperback %}
        document.getElementById("customButton").disabled = true;
        {% endif %}
        {% if not coupon_supplied %}
        $("#coupon-code-group").hide();
        {% endif %}
        $("#coupon-code-prompt").click(function() {
            $("#coupon-code-group").show("slow");
            return false;
        });

        {% if coupon_supplied %}
            let coupon = "{{ coupon_supplied }}"
            checkCoupon(coupon)
            document.getElementById("id_coupon_code").value = coupon
        {% endif %}
    });

</script>
{% endblock scripts %}
