{% extends "base.html" %}
{% load static %}

{% block title %}Confirm Email - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Confirm Email");
{% endblock %}

{% block bodyclass %}
<body id="upsell">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="charge-form" class="side-note col-md-8 col-md-offset-2">
            <div class="progress" style="margin-bottom:2em;">
              <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <h1>Create an account or login</h1>
            <p>After buying, you'll get access to a dashboard with your content, downloadable eBook files, and videos (if included in your package.)</p>
            {% if coupon_supplied %}
            <p style="margin-top:-10px;"><b>Your coupon <em>{{ coupon_supplied }}</em> will be applied on the following checkout page.</b></p>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {% include 'includes/form.html' with form=form %}
                <input type="submit" value="Continue to credit card payment" class="btn btn-primary"/>
            </form>

            <hr class="m-y-lg"/>

            <h4 style="margin-bottom:0.5em;">Buying as a gift?</h4>
            <p style="margin-bottom:0.5em;"><small>Fill out this form and after submitting your credit card details, the giftee will receive an email with details on how to log in to access their files.</small></p>
            <p><small>Want to buy a gift but not send it immediately? Email me at <a href="mailto:tracy@hellowebbooks.com">tracy@hellowebbooks.com</a> and I'll set up something custom for you.</small></p>
            <form action="{% url 'gift' product_slug=product %}" method="POST" class="m-y">
                {% csrf_token %}
                <div class="form-group">
                    <label for="gifteeEmail" class="sr-only">Enter the giftee's email address here</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Enter the giftee's email address here" name="gifteeEmail">
                </div>
                <div class="form-group">
                    <label for="gifteeMessage" class="sr-only">A message (optional)</label>
                    <textarea class="form-control form-control-sm" rows="3" placeholder="A message (optional)" name="gifteeMessage"></textarea>
                </div>
                <input type="submit" value="Enter credit card details" class="btn btn-secondary btn-sm"/>
                <p class="text-muted"><small>An email will be sent to the giftee after payment with details on how to log in.</small></p>
            </form>
        </div>
    </div>
    <hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>
</div>

{% endblock content %}
