// ConvertKit Embedded Form
.newsletter {
    background-color: #498D90;
    padding: 2em 0;
    margin: 3em 0 0 0;
    color: #fff;
    h4 {
        color: #fff;
        font-size: 2rem;
        padding-top: 0.5em;
        letter-spacing: 0;
        text-transform: none;
        margin-top: 0;
    }
    p {
        font-size: 1.2rem;
        padding-top: 0.8em;
        color: rgba(255,255,255,0.8);
        letter-spacing: 0.03em;
    }
    .ck_form.ck_naked p {
        padding: 0px;
    }

    .ck_form, .ck_form * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
    }

    .ck_form.ck_naked .ck_form_fields {
        width: 100%;
        float: left;
        padding-left: 5%;
        padding-right: 5%;
    }
    /* Form fields */

    .ck_errorArea {
        display: none; /* temporary */
    }

    #ck_success_msg {
        padding: 10px 10px 0px;
        /*border: solid 1px #ddd;
        background: #eee;*/
    }

    #ck_success_msg p {
        color: #fff;
        font-weight: bold;
    }

    .ck_form.ck_naked input[type="text"], .ck_form.ck_naked input[type="email"] {
        font-size: 18px;
        padding: 10px 8px;
        width: 34%;
        border: 1px solid #d6d6d6; /* stroke */
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px; /* border radius */
        background-color: #fff; /* layer fill content */
        margin-bottom: 5px;
        height: auto;
        float: left;
        margin: 0px;
        margin-right: 1%;
        height: 42px;
    }

    .ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
        outline: none;
        border-color: #aaa;
    }

    .ck_form.ck_naked .ck_subscribe_button {
        width: 100%;
        /*color: #fff;*/
        margin: 0px;
        padding:  9px 0px;
        font-size: 18px;
        /*background: #0d6db8;*/
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px; /* border radius */
        cursor: pointer;
        border: none;
        text-shadow: none;
        width: 30%;
        float: left;
        height: 42px;
        border-radius: 5px;
    }


    .ck_converted_content {
        display: none;
        padding-left: 5%;
        padding-right: 5%;
        color: #fff;
        font-size: 1.5rem;
        font-style: italic;
        background: #498d90;
    }

    p.no-spam {
        position: relative;
        top: 15px;
        z-index: 1;
        clear:both;
    }
    input { color: #333; }
    .inputgroup {
        width: 33%;
        float: left;
        text-align: left;
        input {
            float:none !important;
            width: 90% !important;
        }
        button.subscribe_button {
            width: 100% !important;
        }
    }
}

@include media-breakpoint-down(md) {
    .newsletter .inputgroup {
        width: 100%;
    }
    .newsletter label {
        margin-top: 1em;
    }
}

/* max width 500 */
.newsletter {
	.ck_form.ck_naked.width500 .ck_subscribe_button {
		width: 100%;
		float: none;
		margin-top: 5px;
	}

	.ck_form.ck_naked.width500 input[type="text"], .ck_form.ck_naked.width500 input[type="email"] {
		width: 49%;
	}

	.ck_form.ck_naked.width500 input[type="email"] {
		margin-right: 0px;
		width: 50%;
	}
}

/* max width 400 */
.newsletter {
	.ck_form.ck_naked.width400 .ck_subscribe_button, .ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] {
		width: 100%;
		float: none;
		margin-top: 5px;
	}

    .ck_slide_up, .ck_modal, .ck_slide_up .ck_naked, .ck_modal .ck_naked  {
        min-width: 400px;
    }

    .page .ck_form.ck_naked {
        margin: 50px auto;
        max-width: 700px;
    }
}

/* v6 */

.newsletter {
    .ck_slide_up.ck_form_v6, .ck_modal.ck_form_v6, .ck_slide_up.ck_form_v6 .ck_naked, .ck_modal.ck_form_v6 .ck_naked {
      min-width: 0 !important;
    }

    .ck_form_v6 #ck_success_msg {
        padding: 0px 10px;
    }
}

@media all and (max-width: 403px) {
  .newsletter .ck_form_v6.ck_modal .ck_naked {
    padding-top: 30px;
  }
}

@media all and (max-width: 499px) {
  .newsletter .ck_form_v6.ck_modal .ck_naked + .ck_close_link {
    color: #fff;
    top: 10px;
  }
}

.newsletter .ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
  right: 10px;
  top: -5px;
}

@media all and (min-width: 600px) {
  .newsletter .ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
    right: 35px;
  }
}

/* CONVERTKIT MODAL */
.ck_modal.ck_form_v6 .ck_form {
    /* divider image */
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.5em;
    overflow: hidden;
    color: #666;
    font-size: 16px;
    border-top: solid 20px #498D90;
    border-top-color: #498D90;
    border-bottom: solid 10px #498D90;
    border-bottom-color: #498D90;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    clear: both;
    margin: 20px 0px;
}

.ck_form, .ck_form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#ck_subscribe_form {
  clear: both;
}

/* Element Queries — uses JS */

.ck_form_content, .ck_form_fields {
    width: 50%;
    float: left;
    padding: 5%;
}

.ck_form_content {
    border-bottom: none;
}

.ck_form.ck_vertical {
    background: #fff;
}

.ck_vertical .ck_form_content, .ck_vertical .ck_form_fields {
    padding: 10%;
    width: 100%;
    float: none;
}

.ck_vertical .ck_form_content {
    border-bottom: 1px dotted #aaa;
    overflow: hidden;
}

/* Trigger the vertical layout with media queries as well */

@media all and (max-width: 499px) {
    .ck_form {
        background: #fff;
    }

    .ck_form_content, .ck_form_fields {
        padding: 10%;
        width: 100%;
        float: none;
    }

    .ck_form_content {
        border-bottom: 1px dotted #aaa;
    }
}

/* Content */

.ck_form_content h3 {
    margin: 0px 0px 15px;
    font-size: 24px;
    padding: 0px;
}


.ck_form_content p {
    font-size: 14px;
}

.ck_image {
    float: left;
    margin-right: 10px;
}

/* Form fields */

.ck_errorArea {
    display: none;
}

.ck_modal.ck_form_v6 #ck_success_msg {
    padding: 10px 10px 0px;
    border: solid 1px #ddd;
    background: #eee;
}

.ck_label {
    font-size: 14px;
    font-weight: bold;
}

.ck_form input[type="text"], .ck_form input[type="email"] {
    font-size: 14px;
    padding: 10px 8px;
    width: 100%;
    border: 1px solid #d6d6d6; /* stroke */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* border radius */
    background-color: #f8f7f7; /* layer fill content */
    margin-bottom: 5px;
    height: auto;
}

.ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
    outline: none;
    border-color: #aaa;
}

.ck_checkbox {
  padding: 10px 0px 10px 20px;
  display: block;
  clear: both;
}

.ck_checkbox input.optIn {
  margin-left: -20px;
  margin-top: 0;
}

.ck_form .ck_opt_in_prompt {
  margin-left: 4px;
}
.ck_form .ck_opt_in_prompt p {
  display: inline;
}

.ck_modal.ck_form_v6 .ck_form .ck_subscribe_button {
    width: 100%;
    color: #fff;
    margin: 10px 0px 0px;
    padding:  10px 0px;
    font-size: 18px;
    background: #e6c24d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* border radius */
    cursor: pointer;
    border: none;
    text-shadow: none;
  }


.ck_modal.ck_form_v6 .ck_form .ck_guarantee {
    color: #626262;
    font-size: 12px;
    text-align: center;
    padding: 5px 0px;
    display: block;
}

.ck_modal.ck_form_v6 .ck_form .ck_powered_by {
    color: #aaa;
}

.ck_modal.ck_form_v6 .ck_form .ck_powered_by:hover {
    color: #444;
}

.ck_modal.ck_form_v6 .ck_converted_content {
  display: none;
    padding: 5%;
    background: #fff;
}

/* v6 */

.ck_form_v6 #ck_success_msg {
	padding: 0px 10px;
}

@media all and (max-width: 403px) {
  .ck_form_v6.ck_modal .ck_close_link {
    top: 30px;
  }
}

@media all and (min-width: 404px) and (max-width: 499px) {
  .ck_form_v6.ck_modal .ck_close_link {
    top: 57px;
  }
}

.ck_form_container.ck_modal {
    position: fixed;
    z-index: 1000;
    display: none;
    top: 100px;
}

.ck_form_container.ck_modal .ck_form {
    margin: 0px;
}

.ck_close_link {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    background:#fff;
    color: #777;
    -webkit-border-radius: 15x;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.2);
    box-shadow: 0px 0px 3px rgba(0,0,0,.2);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.ck_form_container.ck_modal {
    width: 350px;
}

.ck_form_container.ck_modal .ck_vertical .ck_form_content, .ck_vertical .ck_form_fields {
    padding-top: 3%;
    padding-bottom: 3%;
}

#ck_overlay {
    position: fixed;
    z-index:1000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.form-container {
    height: 650px;
    width: 360px;
}

.optinbuttons {
    list-style: none;
    overflow: hidden;
    padding: 40px 50px;
    border-bottom: 1px solid #ddd;
    margin: 0px 0px 40px;
}

@media screen and ( max-height: 900px ){

	.ck_modal { top: 10px !important; }

}

@media screen and ( max-height: 600px ){

    .ck_modal {
			overflow: auto;
			height: 100%;
			position: fixed;
			top: 0px !important;
			left: 0px !important;
			right: 0px !important;
			bottom: 0px !important;
			margin-left: 0px !important;
			width: 100% !important;
		}

		.ck_modal .ck_close_link {
			top: 10px;
			right: 10px;
		}
}


    .ck_modal.ck_form_v6 {
      height: 100%;
      left: 0;
      overflow: auto;
      top: 0 !important;
      width: 100% !important;
    }

    .ck_modal.ck_form_v6 .ck_form {
      left: 50%;
      margin: 25px 0 25px -350px;
      position: absolute;
      width: 700px;
    }

    #ck_overlay {
      z-index: 10000;
    }

    .ck_modal.ck_form_v6 .ck_close_link {
      background: transparent;
      border: 1px solid #eee;
      border-radius: 30px;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #ffffff;
      font-size: 19px;
      height: 40px;
      line-height: 40px;
      opacity: 0.6;
      right: 10px;
      top: 10px;
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;
      width: 40px;
      z-index: 12000;
    }

    .ck_modal.ck_form_v6 .ck_close_link:hover {
      background: #ffffff;
      border-color: #ffffff;
      color: #000000;
      opacity: 1;
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;
    }

.ck_modal_open {
  overflow: hidden;
}

@media all and (max-width: 800px) {
  .ck_modal.ck_form_v6 .ck_form {
    margin-left: -180px;
    width: 360px;
  }
}

@media all and (min-width: 500px) {
  .ck_modal.ck_form_v6 .ck_close_link {
    position: fixed;
  }
}

@media all and (max-width: 499px) {
  .ck_modal.ck_form_v6 .ck_form {
    left: 0;
    margin-left: 0;
    width: 100%;
  }

  .ck_modal.ck_form_v6 .ck_close_link {
    border: 0;
    color: #000000;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    right: 10px;
    top: 35px;
    width: 30px;
  }
}

@media all and (max-width: 403px) {
  .ck_modal.ck_form_v6 .ck_form {
    margin: 0;
  }

  .ck_modal.ck_form_v6 .ck_close_link {
    right: 5px;
    top: 5px;
  }
}
