{% extends "base.html" %}
{% load staticfiles %}
{% load markdown %}

{% block title %}{{ product.name }} Course Dashboard - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("{{ product.name }} Course Dashboard");
{% endblock %}

{% block bodyclass %}
<body id="course-page">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <ul class="breadcrumb hidden-sm-down">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="active">{{ product.name }} Course</li>
        </ul>

        <div class="col-xs-2 hidden-md-up">
            <button class="h4 m-b-md" onclick="w3_toggle()" style="color:#498D90; padding:0">&#9776;</button>
        </div>
        <div class="col-xs-10 text-right hidden-md-up">
            {% if next_link %}
            <a href="{% url 'course_link' product_slug=product.get_slug link=next_link %}" class="btn btn-sm btn-secondary m-b" style="white-space: normal;">{{ next_name }} →</a>
            {% endif %}
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div id="course-sidebar" class="col-md-2 small" style="border-right:1px solid #e1e1e1;">
            <h4 class="m-t-0">{% if membership.video %}Videos / {% endif %}Content</h4>
            {% for module, chapters in course.items %}
            {% if module == "Video Extras" and not membership.video %}
            <!-- Hide extras from people who don't have videos on their membership -->
            {% else %}
            <p style="margin-bottom: 10px;"><b>{{ module }}</b></p>
            <ul class="list-unstyled course-list">
                {% for k, v in chapters.items %}
                <li style="margin-bottom: 10px; line-height:1.2;"{% if v.name == course_name %} class="active"{% endif %}>
                    {% if v.name == course_name %}
                        <b>{{ v.name }}</b>
                    {% else %}
                    <a href="{% url 'course_link' product_slug=product.get_slug link=v.link %}" data-video="{{ v.video }}" data-template="{{ v.template }}" data-chapter="{{ k }}" data-name="{{ v.name }}" class="chapter-link" title='Click to watch video: "{{ k }}. {{ v.name }}"'>
                        {% if v.video %}{% if membership.video or '322468325' in v.video or '125105042' in v.video or '322480097' in v.video or '322480267' in v.video %}<i class="fa fa-play-circle-o"></i> {% endif %}{% endif %}{{ v.name }}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            <h4>Updates</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'course_link' product_slug=product.get_slug link='updates' %}">Changes and updates</a>
                </li>
            </ul>
            <h4>Download Files</h4>
            <!-- FIXME: This isn't the best solution but it's good enough for now -->
            <!-- FIXME: If fixed, fix in dashboard.html too -->
            <ul class="list-unstyled">
                {% if product.name == "Hello Web App" %}
                <li>Hello Web App: <a href="{{ hwa_pdf }}" title="Download {{ product.name }} PDF">PDF</a>, <a href="{{ hwa_epub }}" title="Download {{ product.name }} ePub">ePub</a>, <a href="{{ hwa_mobi }}" title="Download {{ product.name }} Kindle/.mobi">.mobi/Kindle</a></li>
                <li>Intermediate Concepts: <a href="{{ hwaic_pdf }}" title="Download {{ product.name }} Intermediate Concepts PDF">PDF</a>, <a href="{{ hwaic_epub }}" title="Download {{ product.name }} Intermediate Concepts ePub">ePub</a>, <a href="{{ hwaic_mobi }}" title="Download {{ product.name }} Intermediate Concepts Kindle/.mobi">.mobi/Kindle</a></li>
                {% elif product.name == "Hello Web Design" %}
                <li><a href="{{ hwd_pdf }}" title="Download {{ product.name }} PDF">PDF</a></li>
                <li><a href="{{ hwd_epub }}" title="Download {{ product.name }} ePub">ePub</a></li>
                <li><a href="{{ hwd_mobi }}" title="Download {{ product.name }} Kindle/.mobi">Kindle/.mobi</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row m-b">
                <div class="col-xs-8">
                    <h1 class="h3 m-b" id="course-name"><b>{{ course_name }}</b></h1>
                </div>
                <div class="col-xs-4 text-right hidden-md-down">
                    {% if next_link %}
                    <a href="{% url 'course_link' product_slug=product.get_slug link=next_link %}" class="btn btn-sm btn-secondary m-r hidden-md-down" style="white-space: normal;">{{ next_name }} →</a>
                    <a href="{% url 'course_link' product_slug=product.get_slug link=next_link %}" class="btn btn-sm btn-secondary hidden-lg-up">Next →</a>
                    {% endif %}
                </div>
            </div>

            <!-- video area -->
            {% if video_url %}
            {% if membership.video or '322468325' in video_url or '125105042' in video_url or '322480097' in video_url or '322480267' in video_url %}
            <div class="m-b course-video">
                <figure class="caption video" style="padding-bottom: 53.9%;">
                    <iframe width="560" height="315" src="{{ video_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen='allowfullscreen'></iframe>
                </figure>
                {% if not membership.video %}
                <p class="text-muted" style="margin-top:-2em;">
                    <small>Preview of the videos contained in this package.
                        {% if product.name == "Hello Web App" %}
                        <a href="{% url 'charge' product_slug="hwa-video-supplement" %}?coupon=customerfriend">
                        {% else %}
                        <a href="{% url 'charge' product_slug="hwd-video-supplement" %}?coupon=customerfriend">
                        {% endif %}
                            Upgrade here if you'd like to add them to your account
                        </a>.
                    </small>
                </p>
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
            <!-- content area -->
            <div id="course-content" class="row">
                <div class="col-lg-10 col-xl-8 p-l-0">
                    {% filter markdown %}
{% include course_template %} <!-- if indented, markdown thinks its code. sigh -->
                    {% endfilter %}

                    {% if video_url %}
                    <div class="row hidden-md-down" style="margin-top:5em;margin-left:-2rem;margin-right:-2rem;">
                        {% include 'includes/course-prev-next.html' %}
                    </div>
                    <div class="row hidden-lg-up" style="margin-top:5em;">
                        {% include 'includes/course-prev-next.html' %}
                    </div>

                    <hr class="m-l-0 m-r-0" style="border-color:#eceeef; margin-top:3em;"/>
                    <h3>Questions or comments on this section?</h3>
                    {% if product == "Hello Web App" %}
                    <p>Feel free to post </p>
                    {% else %}
                    Please use the comment form below to ask questions or get help.
                    {% endif %}
                    <div id="disqus_thread"></div>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    {% endif %}
                </div>
            </div>
            <div class="row m-t-lg">
                {% include 'includes/course-prev-next.html' %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>
</div>
{% endblock content %}

{% block scripts %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
    function w3_toggle() {
        const div = document.getElementById("course-sidebar");
        div.style.display = div.style.display == "none" ? "block" : "none";
    }

    {% if video_url %}
    var disqus_config = function () {
    this.page.url = 'https://hellowebbooks.com/course/{{ product.get_slug }}/{{ course_link }}/';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '{{ course_link }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://hellowebbooks.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    {% endif %}
</script>
{% endblock %}
