{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ product.name }} Course Dashboard - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("{{ product.name }} Course Dashboard");
{% endblock %}

{% block bodyclass %}
<body id="course-page">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="active">{{ product.name }} Course</li>
        </ul>
        <div class="col-sm-2 small" style="border-right:1px solid #e1e1e1;">
            <h4 class="no-top-margin">Download Files</h4>
            <!-- FIXME: This isn't the best solution but it's good enough for now -->
            <!-- FIXME: If fixed, fix in course.html too -->
            <ul class="list-unstyled">
                {% if product.name == "Hello Web App" %}
                <li>Hello Web App: <a href="{{ hwa_pdf }}" title="Download {{ product.name }} PDF">PDF</a>, <a href="{{ hwa_epub }}" title="Download {{ product.name }} ePub">ePub</a>, <a href="{{ hwa_mobi }}" title="Download {{ product.name }} Kindle/.mobi">.mobi/Kindle</a></li>
                <li>Intermediate Concepts: <a href="{{ hwaic_pdf }}" title="Download {{ product.name }} Intermediate Concepts PDF">PDF</a>, <a href="{{ hwaic_epub }}" title="Download {{ product.name }} Intermediate Concepts ePub">ePub</a>, <a href="{{ hwaic_mobi }}" title="Download {{ product.name }} Intermediate Concepts Kindle/.mobi">.mobi/Kindle</a></li>
                {% elif product.name == "Hello Web Design" %}
                <li><a href="{{ hwd_pdf }}" title="Download {{ product.name }} PDF">PDF</a></li>
                <li><a href="{{ hwd_epub }}" title="Download {{ product.name }} ePub">ePub</a></li>
                <li><a href="{{ hwd_mobi }}" title="Download {{ product.name }} Kindle/.mobi">Kindle/.mobi</a></li>
                {% endif %}
            </ul>
            <h4>Videos</h4>
            {% for module, chapters in course.items %}
            <b>{{ module }}</b>
            <ul class="list-unstyled">
                {% for k, v in chapters.items %}
                <li>
                    <a href="" data-video="{{ v.video }}" data-template="{{ v.template }}" data-chapter="{{ k }}" data-name="{{ v.name }}" class="chapter-link" title='Click to watch video: "{{ k }}. {{ v.name }}"'>
                        {{ k }}. {{ v.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="col-sm-10">
            <h1 class="h3 bottom-margin" id="course-name">TODO: Course Video Name</h1>
            <div style="border:1px solid #e1e1e1; height: 500px;" class="bottom-margin">
                <!-- Video goes here -->
            </div>
            <p>Video description goes here.</p>

        </div>
    </div>
    <hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(".chapter-link").click(function() {
        const chapter = $(this).attr('data-chapter');
        const name = $(this).attr('data-name');
        document.getElementById("course-name").innerHTML = 'Chapter ' + chapter + ': <b>' + name + '</b>'
        return false;
    });
</script>
{% endblock %}
