{% extends "base.html" %}
{% load staticfiles %}
{% load markdown %}

{% block title %}{{ product.name }} Course Dashboard - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("{{ product.name }} Course Dashboard");
{% endblock %}

{% block bodyclass %}
<body id="course-page">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="active">{{ product.name }} Course</li>
        </ul>

        <!-- FIXME: This probably should go under a popout menu -->
        <!-- TODO: Add in a page to track updates to the online content -->
        <div id="course-sidebar" class="col-md-2 small" style="border-right:1px solid #e1e1e1;">
            <h4 class="m-t-0">{% if membership.video %}Videos / {% endif %}Content</h4>
            {% for module, chapters in course.items %}
            <p style="margin-bottom: 10px;"><b>{{ module }}</b></p>
            <ul class="list-unstyled course-list">
                {% for k, v in chapters.items %}
                <li style="margin-bottom: 10px; line-height:1.2;"{% if v.name == video_name %} class="active"{% endif %}>
                    {% if v.name == video_name %}
                        <b>{{ v.name }}</b>
                    {% else %}
                    <a href="{% url 'course_link' product_slug=product.get_slug link=v.link %}" data-video="{{ v.video }}" data-template="{{ v.template }}" data-chapter="{{ k }}" data-name="{{ v.name }}" class="chapter-link" title='Click to watch video: "{{ k }}. {{ v.name }}"'>
                        {{ v.name }}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <h4>Download Files</h4>
            <!-- FIXME: This isn't the best solution but it's good enough for now -->
            <!-- FIXME: If fixed, fix in dashboard.html too -->
            <ul class="list-unstyled">
                {% if product.name == "Hello Web App" %}
                <li>Hello Web App: <a href="{{ hwa_pdf }}" title="Download {{ product.name }} PDF">PDF</a>, <a href="{{ hwa_epub }}" title="Download {{ product.name }} ePub">ePub</a>, <a href="{{ hwa_mobi }}" title="Download {{ product.name }} Kindle/.mobi">.mobi/Kindle</a></li>
                <li>Intermediate Concepts: <a href="{{ hwaic_pdf }}" title="Download {{ product.name }} Intermediate Concepts PDF">PDF</a>, <a href="{{ hwaic_epub }}" title="Download {{ product.name }} Intermediate Concepts ePub">ePub</a>, <a href="{{ hwaic_mobi }}" title="Download {{ product.name }} Intermediate Concepts Kindle/.mobi">.mobi/Kindle</a></li>
                {% elif product.name == "Hello Web Design" %}
                <li><a href="{{ hwd_pdf }}" title="Download {{ product.name }} PDF">PDF</a></li>
                <li><a href="{{ hwd_epub }}" title="Download {{ product.name }} ePub">ePub</a></li>
                <li><a href="{{ hwd_mobi }}" title="Download {{ product.name }} Kindle/.mobi">Kindle/.mobi</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row m-b">
                <div class="col-xs-8">
                    <h1 class="h3 m-b" id="course-name"><b>{{ video_name }}</b></h1>
                </div>
                <div class="col-xs-4 text-right">
                    {% if next_link %}
                    <a href="{% url 'course_link' product_slug=product.get_slug link=next_link %}" class="btn btn-sm btn-secondary m-r hidden-md-down" style="white-space: normal;">{{ next_name }} →</a>
                    <a href="{% url 'course_link' product_slug=product.get_slug link=next_link %}" class="btn btn-sm btn-secondary hidden-lg-up">Next →</a>
                    {% endif %}
                </div>
            </div>

            <!-- video area -->
            {% if membership.video and video_url %}
            <div class="m-b course-video">
                <figure class="caption video" style="padding-bottom: 50%;">
                    <!--<iframe width="560" height="315" src="{{ video_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen='allowfullscreen'></iframe>-->
                    <!--<figcaption>Video/vlog version of this post. Experimenting with formats!</figcaption>-->
                </figure>
            </div>
            {% endif %}
            <!-- content area -->
            <div id="course-content" class="row">
                <div class="col-lg-10 col-xl-8 p-l-0">
                {% filter markdown %}
{% include video_template %} <!-- if indented, markdown thinks its code. sigh -->
                {% endfilter %}
                </div>
            </div>
            <div class="row m-t-lg">
                {% include 'includes/course-prev-next.html' %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr style="margin:4em 0 2em 0; border-color:#f7f7f7;"/>
</div>
{% endblock content %}

{% block scripts %}
<link rel="stylesheet" href="{% static '/css/tomorrow.css' %}">
<script src="{% static '/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
    /*
    $(".chapter-link").click(function() {
        const chapter = $(this).attr('data-chapter');
        const name = $(this).attr('data-name');
        document.getElementById("course-name").innerHTML = 'Chapter ' + chapter + ': <b>' + name + '</b>'
        return false;
    });
    */
</script>
{% endblock %}
